body {
    background-image: url('https://www.100percentpure.com/s/files/1/0648/1955/files/Main_af7ae4c3-a7df-4594-8c3e-3cd53e177d93.jpg?477845&em-origin=cdn.shopify.com');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}