body {
    background-image: url('https://www.100percentpure.com/s/files/1/0648/1955/files/Main_af7ae4c3-a7df-4594-8c3e-3cd53e177d93.jpg?477845&em-origin=cdn.shopify.com');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 45px;
}

h2 {
    font-size: 30px;
}

img.smoothie-icon {
    width: 30px;
    padding-bottom: 20px;
}

img.extra-icon {
    width: 30px;
    padding-bottom: 20px;
}

h1,
h2,
p {
    text-align: center;
}

h1,
h2 {
    font-family: 'Darumadrop One', cursive;
}

.menu {
    width: 50%;
    background-color: #ffeedd;
    opacity: 0.9;
    margin: 0 auto;
    padding: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

hr {
    height: 2px;
    background-color: #5c8001;
    border-color: #5c8001;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.flavor,
.extra {
    text-align: left;
    width: 75%;
}

.ingredients {
    font-style: italic;
    width: 75%;
    text-align: left;
    padding-bottom: 20px;
}

.price {
    text-align: right;
    width: 100%;
}